<app-header></app-header>
<div class="container">
    <h2>Hotel List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>SR NO</th>
          <th>Hotel Name</th>
          <th>Hotel Address</th>
          <th>GST NO.</th>
          <th>ACTION</th>
        </tr>  
      </thead>
      <tbody>
        <tr *ngFor ="let data of list; let i=index">

          <td>{{i+1}}</td>

          <td>{{data?.hotelName}}</td>

          <td>{{data?.hotelAddress}}</td>

          <td>{{data?.gstNumber}}</td>

          <td>
            <button (click)="deleteHotelManagmentDetails(data.id)" type="button" class="btn-btn-danger">Delete</button>
            <button [routerLink]="['/update',data.id]" type="button" class="btn-btn-danger">Update</button>
          </td>
         
      
       </tr>  
          </tbody>
          </table>
          </div>